@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  
}

*{
  box-sizing: border-box;
}
/* styles.css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  background: transparent;
  position: fixed; /* Ensure the header stays at the top */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the header is above other content */
}

.logo {
  cursor: pointer;
}

.header-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin-top: -3rem;
  margin-right:15rem;
  justify-content: space-between;

}

.header-links li {
  cursor: pointer;
}


.header-links a {
  text-decoration: none;
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
  font-weight: 500;
  transition: font-weight 0.3s ease;
}

.header-links a:hover {
  font-weight: bold;
}
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.service-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}

.intro-text {
  max-width: 50%;
}

.intro-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.intro-text p {
  font-size: 1.2rem;
  width: 80%;
}

.intro-image img {
  max-width: 100%;
  height: auto;
}

.service-details {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.service-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.service-number {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
  margin-right: 20px;
}

.service-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-content p {
  font-size: 1rem;
  width: 80%;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Make sure it appears above other content */
}

.loader p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.progress {
  width: 100px; /* Adjust width as needed */
  height: 10px; /* Adjust height as needed */
  background-color: #ddd;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.progress::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #3d0093; /* Adjust color as needed */
  width: 0; /* This will be animated */
  animation: progress-bar 2s linear infinite;
}

@keyframes progress-bar {
  0% { width: 0; }
  100% { width: 100%; }
}
.nav--bar{
  position: absolute;
  display: flex;
  align-content: space-between;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.logo{
  margin: 0px;
  width: 200px;

}

.section{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.section--one--container{
  width: 360px;
  margin-left: 15%;
}
.custom-h1 {
  font-size: 4rem; /* Adjust the size as needed */
  line-height: 3.5rem; /* Adjust the line height as needed */
  letter-spacing: -0.1rem; /* Adjust the letter spacing as needed */
}
.section2{
margin-bottom: 35px;

}
.wide-paragraph {

  width: 500px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the paragraph */
}

.first h1 {
  font-size: 5rem; /* Make the h1 smaller */
  line-height: 5rem; /* Adjust the line height as needed */
  letter-spacing: -0.1rem; /* Adjust the letter spacing as needed */
  margin: 0 0 30px -10px;
}

.button--hero{

  background: #ffac6d;
  color: black;
  border: none;
  font-weight: 600;
  border-radius: 50px;
  padding: 15px 30px;
  margin-top: 24px;
  margin-right: 40px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button--customize{
  background: #3d0093;
  color: black;
  border: none;
  font-weight: 600;
  border-radius: 50px;
  padding: 15px 30px;
  margin-top: 24px;
  margin-right: 40px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}
.button--hero:hover{
  background: black;
  color: white;
}

.button--navbar{
  background: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 40px;
  font-size: 0.6rem;
}

.second{
  justify-content: flex-end;
  position: relative;
}

.section--one--container {
  width: 360px;
  margin-left: 15%;
}

.section--two--container{
  width: 360px;
  margin-right: 20%;
  z-index: 1;
}

.section--third--container{
  width: 1200px;
  margin-left: 100px;
  z-index: 1;
}

h2{
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 2.5rem;
}

.custom--bg{
  width: 100%;
  height: 800px;
  background: #FACFAD;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg) rotate(21deg);
  position: absolute;
  top: 0;
  left: 0;
}

footer{
  background: black;
  padding: 70px;
  display: flex;
  justify-content: center;
}

.button--footer{
  background: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button--footer:hover{
  background: black;
  color: white;
}


.interactive-element {
  position: relative;
  z-index: 2; /* Make sure this is higher than the canvas */
}
#webgi-canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* Ensure it appears above everything else */
}

#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.button--exit{
  width: 90px;
  margin-bottom: 5%;
  z-index: 5;
  position: fixed;
  bottom: 0;
  display: none;
}

.customizer--container{
  position: fixed;
  top: 50%;
  display: none;
  transform: translateY(-50%);
}

.strap--colors{
  list-style: none;
}

.button--colors{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid white;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button--colors:hover{
  filter: drop-shadow(0 0 0.75rem rgba(28, 17, 52, 0.704));
  transform: scale(1.5);
}

.yellow{
  background-color: #3d0093;
}

.red{
  background-color: rgb(231, 34, 34);
}

.black{
  background-color: rgb(74, 76, 79);
}

/* MOBILE ADJUSTMENTS */

@media (max-width: 600px) {


  html, body, .container, nav{
    overflow-x: hidden;
  }

  .first h1{
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.1rem;
    width: 50%;
    margin: 0 0 15px 0px;
  }

  .nav--bar{
    margin-top: 0;
    z-index: 1;
    background: #ffffffad;
    padding: 30px 0;
    backdrop-filter: blur(5px);
  }
  
  .section--one--container {
    width: 360px;
    margin-left: 6%;
    margin-top: 40%;
  }

  .section--one--container > p {
    width: 70%;
  }

  .second{
    align-items: flex-end;
    height: 100vh;

  }
  
  .section--third--container {
    width: 220px;
    margin-left: 7%;
  }
}
